<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.trinity.asean">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".filipina"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".indonesia"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".malaysia"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".singapura"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".thailand"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".brunei"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".vietnam"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".laos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".myanmar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".kamboja"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>